@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --main-color: rgb(255, 64, 31);
  --text-color: rgb(240, 248, 255);
  --secondary-text-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Press Start 2P", system-ui;
  background-color: black;
  color: var(--text-color);
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: var(--main-color);
}

.menu {
  display: grid;
}

.menu > a {
  color: var(--text-color);
  text-decoration: none;
  border: 5px solid var(--main-color);
  place-self: center;
  padding: 10px;
  font-size: 30px;
  transition: all 0.2s ease-out;
}
.menu > a:hover {
  background-color: var(--main-color);
  color: var(--secondary-text-color);
}

.bottom {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  display: grid;
  place-self: end center;
}
footer {
  padding: 10px;
}
sub {
  font-size: 20px;
}
sub > a {
  color: var(--main-color);
  text-decoration: dotted underline;
}
sub > a:hover {
  filter: brightness(1.2);
  text-decoration: underline;
}
