@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --background-color: black;
  --progress-bar-background-color: #252424;
  --progress-bar-color: rgb(255, 64, 31);
  --card-background-color: rgb(61, 61, 61);
  --card-border-color: rgb(247, 37, 0);
  --button-background-color: rgb(218, 35, 3);
  --button-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  height: 100dvh;
  width: 100dvw;
}

canvas {
  background-color: rgb(30, 30, 30);
}

.HUD {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100dvw;
  height: auto;
  font-weight: 900;
}

.HUD > .expBar {
  width: 100%;
  display: grid;
  place-items: center;
}

.level {
  font-size: 2rem;
  color: white;
}

progress {
  margin-top: 10px;
  width: 98%;
  height: 40px;
  appearance: none; /* Remove default styling in some browsers */
}

/* Styling for the progress value */
progress::-webkit-progress-bar {
  background-color: var(
    --progress-bar-background-color
  ); /* Background color of the progress bar */
}

progress::-webkit-progress-value {
  background-color: var(
    --progress-bar-color
  ); /* Color of the progress indicator */
  transition: width 0.5s ease; /* Smooth transition for the width property */
}

#lives {
  padding-left: 3px;
  display: flex;
  align-items: center;
}

#lives > img {
  width: 48px;
  margin-right: 5px;
}

.row {
  display: grid;
  margin-top: -10px;
  grid-template-columns: repeat(3, 1fr);
}

.row > .timer,
.level {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.gameOver {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  grid-template-columns: 1fr 1.2fr;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  place-items: center;
}

.gameOver > .card {
  background-color: var(--card-background-color);
  border: var(--card-border-color) solid 5px;
  color: white;
  padding: 20px;
  font-size: 25px;
  display: grid;
  place-items: center;
  animation: card 0.5s ease-in-out;
}
.gameOver > .highscores {
  display: grid;
  place-content: center;
  animation: card 0.5s ease-in-out;
}

button {
  padding: 10px;
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button > a {
  color: var(--button-color);
  text-decoration: none;
}
button:hover {
  background-color: var(--button-background-color);
  opacity: 0.8;
  scale: 1.1;
}

/* animation of .card */
@keyframes card {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.background > .upgrades {
  display: none;
  grid-template-columns: auto auto auto;
  place-content: center;
  column-gap: 50px;
}

.upgrades > .upgrade {
  background-color: #252424;
  color: white;
  border: var(--card-border-color) solid 5px;
  height: 400px;
  width: 400px;
  display: grid;
  place-items: center;
  text-align: center;
}

.pauseMenu {
  display: none;
  place-items: center;
}

.pauseMenu > .card {
  background-color: var(--card-background-color);
  border: var(--card-border-color) solid 5px;
  color: white;
  padding: 20px;
  font-size: 25px;
  display: grid;
  place-items: center;
  animation: card 0.5s ease-in-out;
}

.pauseMenu > .card > button {
  padding: 10px;
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pauseMenu > .card > button:not(:first-child) {
  margin-top: 20px;
}
